@keyframes typing {
    from {
      width: 0;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }


@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
}
    
}