* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Courier New', monospace;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

section {
  min-height: 100vh;
  padding: 10rem 5%;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.hometext {
  font-size: 2rem;
}

.profile-image {
  border: 2px solid rgb(250, 250, 250);
  overflow: hidden;
  display: flex;
  height: 300px;
  width: 250px;
  margin: 20px;
  border-radius: 50%;
  align-items: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 5%;
  background: rgba(0, 0, 0, 0.925);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}


.logo {
  font-size: 3rem;
  color: rgb(255, 255, 255);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.logo-hover {
  transform: scale(1.5);
}

.navbar {
  display: flex;
  flex-direction: row;
}

.navbar a {
  font-size: 1.8rem;
  color: rgb(255, 255, 255);
  margin: 2rem;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active {
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 3px solid rgb(252, 189, 94);
  backdrop-filter: grayscale(0%);
  transition: 1s ease-in-out;
}

/* about section */

#about {
  background-color: rgba(238, 236, 236, 0.795);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#about .container {
  padding: 50px;
  display: flex; /* Add this line */
}

#about h1 {
  margin-bottom: 8rem;
  font-size: 3rem;
  text-align: center;
  gap: 20px;
}

#about p {
  padding: 10px;
  margin: 20px;
  text-align: center;
  font-size: 2rem;
}

/* Experience section */

.experience {
  background-color: rgba(255, 254, 254, 0.795);
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.experience h1 {
  margin-bottom: 8rem;
  font-size: 3rem;
  text-align: center;
  gap: 20px;

}

.experience-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem;
  padding: 50px; 
}

.experience-container .experience-box {
  position: relative;
  height: 92px;
  width: 92px; 
  overflow: hidden;
  display: flex;
  border-radius: 1rem;
  border: 3px solid transparent;
  transition: 0.5s ease-in-out;
  flex-direction: row;
  cursor: pointer;
  filter: grayscale(100%);
  border: 3px solid rgb(66, 66, 66);
}

.experience-box:hover {
  border: 3px solid rgb(252, 189, 94);
  filter: grayscale(0%);
  transform: scale(1.2);
}

.experience-box img {
  flex: 1; 
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease-in-out;
}

.experience-box:hover img {
  transform: scale(1.05);
  backdrop-filter: grayscale(100%);
}

.experience-box .experience-info {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  padding: 0 2rem;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.experience-box:hover .experience-info {
  visibility: visible;
  opacity: 1;
}

.experience-info h4 {
  font-size: 1.2rem;
  color: rgb(253, 185, 96);
  font-weight: 800;
}

.experience-info p {
  font-size: 1rem;
  color: rgb(253, 185, 96);
}

.experience p {
  font-size: 2rem;
  color: rgb(0, 0, 0);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


/*projects section*/

#projects {
  background-color: rgba(238, 236, 236, 0.795);
  opacity: 0;
  transition: opacity 1s ease-in-out;
}


#projects h2 {
  margin-bottom: 8rem; 
  font-size: 3rem;
  text-align: center;
}

.project-grid {
  display: grid;
  gap: 200px;
  justify-content: center;
}

.project-box {
  position: relative;
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  overflow: hidden;
  gap: 200px;
  transition: 0.5s ease-in-out;
}

.project-box img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
  border: 1px solid rgb(252, 189, 94);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
   transition: 0.5s ease-in-out;
}

.project-box:hover {
  transform: scale(1.02);
}






.heading h2 {
  font-size: 2rem;
  color: rgb(0, 158, 158);
  gap: 20rem;
}

.hometext {
  width: 24ch;
  animation: typing 1s steps(24), blink .5s step-end infinite alternate, fadein 4s;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 3rem;

}

/* Hamburger Menu */

.hamburger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 3rem;
  height: 2rem;
  cursor: pointer;
  z-index: 2;
}

.hamburger-nav a {
  color: #ffffff;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 15px 10px;
  text-align: center;
}

.hamburger-nav a:hover {
  background-color: #000000;
  color: #ffffff;
}

.hamburger-menu div {
  width: 2.5rem;
  height: 0.1rem;
  background: rgb(255, 253, 253);
}

.dropdown-menu {
  display: none;
  position: absolute;
  left: 0;
  background-color: #1b1b1b;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgb(0, 0, 0);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.dropdown-menu.show {
  display: block;
  opacity: 1;
}

.triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid black;
  text-indent: -9999px;
  animation: fadein 4s;
  position: relative;
  top: 300px;
}

footer {
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 5rem 5%;
  background: rgba(0, 0, 0, 0.925);
  backdrop-filter: blur(10px);
  color: rgb(255, 255, 255);
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  animation: fadein 4s;
}

footer img {
  width: 128px;
  height: 35px;
  transition: 0.3s ease-in-out;
  animation: fadein 1s;
}

footer img:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.email {
  width: 35px;
  height: 35px;
  transition: 0.3s ease-in-out;
}

.email:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.experience-box.worked {
  display: flex;
  width: 180px; 
  height: 180px; 
}

.experience-box.worked img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textboxes {
  background-color: #fffefe;
  padding: 10px;
  margin: 20px;
  text-align: center;
  font-size: 2rem;
}

/* Media Queries */


@media (max-width: 768px) {
  .navbar {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  .hamburger-nav {
    display: none;
  }

  .hamburger-nav.show {
    display: block;
  }

  section {
    padding: 5rem;
  }

  .hometext {
    font-size: 2rem;
  }
  .experience-box{
    flex-direction: column;
  }
  .profile-image {
   display: none;
  }

  #about {
    position: relative;
}
.experience-box.worked {
  display: flex; 
}

  #about p {
    display: block;
    top: 300px;
    font-size: 1.3rem;
    text-align: justify-all;
    white-space: wrap;
    max-width: 100%;
  }

  .project-grid {
    justify-content: center;
  }  
  .textboxes{
    font-size: 1.3rem;
    text-align: left;
    margin: 0px;
    padding: 0px;
  }
}